<p>second works!</p>


<button pButton type="button" class="p-button-info"></button>
<button pButton type="button" label="Primary"></button>
<button pButton type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton type="button" label="Success" class="p-button-success"></button>
<button pButton type="button" label="Info" class="p-button-info"></button>
<button pButton type="button" label="Warning" class="p-button-warning"></button>
<button pButton type="button" label="Help" class="p-button-help"></button>
<button pButton type="button" label="Danger" class="p-button-danger"></button>


<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" pInputText placeholder="Username">         
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>  
    <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart"></i></span>   
    <input type="text" pInputText placeholder="Price"> 
    <span class="p-inputgroup-addon">$</span>  
    <span class="p-inputgroup-addon">.00</span>      
</div>