<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-5 mb-5 border border-warning border-5">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active px-5" aria-current="page" routerLink="home">Home</a>
          <!-- <a class="nav-link px-3" routerLink="student/Rishabh/23/7">Student</a> -->
          <!-- <a class="nav-link px-3" (click)="navigatetoStaff()">Staff</a> -->
          <a class="nav-link px-3" (click)="navigatetoAboutUs()">About us</a>
          <a class="nav-link px-3" routerLink="parent" >Parent</a>
          <a class="nav-link px-3" routerLink="first" >First</a>
          <a class="nav-link px-3" routerLink="second" >Second</a>

          <li class="nav-item dropdown dropdown-1">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="student-sec">
              Student-section
            </a>
            <ul class="dropdown-menu dropdown-1-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"routerLink="student-sec/admission-info">Admission Information</a></li>
              <li><a class="dropdown-item" routerLink="student-sec/exam">Exam</a></li>
              <!-- <li><a class="dropdown-item" >Another action</a></li> -->
            </ul>
          </li>

          <li class="nav-item dropdown dropdown-1">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="departments">
              Departments
            </a>
            <ul class="dropdown-menu dropdown-1-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"routerLink="departments/computer">Computer</a></li>
              <li><a class="dropdown-item" routerLink="departments/entc">Entc</a></li>
              <!-- <li><a class="dropdown-item" >Another action</a></li> -->
            </ul>
          </li>

        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

</div>


