<!-- <p>first works!</p> -->


<div class="card bg-info mt-5">
    <div class="card-header text-dark border border-dark"><h3>First Component</h3></div>
    <div class="card-body ">

        <h4 class="text-dark">This is First component</h4>
       

        <button class="btn bg-warning text-dark border border-dark  mt-3" (click)="sendDataFromFirst()" >Send data from First</button>

        <button pButton type="button" label="Click" ></button>
        <p-button label="Click" ></p-button>
        
    </div>
</div>

